services:
  postgres:
    image: postgres:latest
    container_name: postgresql
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    volumes:
      - "$HOME/data/postgres:/var/lib/postgresql"
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - "$HOME/data/redis:/data"
    command: redis-server --requirepass 123456

  rabbitmq:
    image: rabbitmq:management
    container_name: rabbitmq
    hostname: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: markus
      RABBITMQ_DEFAULT_PASS: 123456
    volumes:
      - "$HOME/data/rabbitmq:/var/lib/rabbitmq"


  minio:
    image: minio/minio:latest
    container_name: minio
    command: "server /data --console-address ':9001'"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: markus
      MINIO_ROOT_PASSWORD: 12345678
    volumes:
      - "$HOME/data/minio:/data"
